/* Clase para darle estilos a nav de redes sociles*/
.navbar-principal {
  background-color: rgba(255, 54, 93);
  min-height: 10%;
  border: none;
}

/* Clase para logo princial del nav dentro del header */
.logo-img {
  width: 100px;
}

/* Clase para darle estilos al contenedor principal */
.container-fluid {
  margin-top: 64px;
}

/* Clase margen superior para redes sociales*/
.redes-sociales{
  margin-top: 80px;
}

/* Clase para para las imagenes de los articulos en la izquierda*/
#img-article-izquierda{
	width:400px;
	height:250px;
	padding: 10px 10px 0px 0px;
}

/* Clase para para las imagenes de los articulos en la derecha*/
#img-article-derecha{
	width:400px;
	height:250px;
	padding: 10px 0px 0px 10px;
}

/* Clase para tamaño de los iconos de redes sociales*/
.img-social{
  width: 40px;
  height: 40px;
  padding: 2px;
}

/* Clase para centrar el menu principal*/
.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

/* Clase para separar los elementos del menu*/
.nav-item{
	padding-left: 50px;
	padding-right: 50px;
}






